.DS_Store
.idea
.run

/content/
/storage/cache
/storage/sessions
/storage/accounts
/vendor
/node_modules
/public/media
/public/assets/dist
/kirby

site/plugins/*
!site/plugins/weitweit-blocks-preview/
!site/plugins/weitweit-field-methods/
!site/plugins/weitweit-icons/
!site/plugins/weitweit-page-methods/
