.DS_Store
.idea
.run
.vscode/sftp.json

/content/
/storage/cache
/storage/sessions
/storage/accounts
/vendor
/node_modules
/public/media
/public/assets/dist
/kirby

site/plugins/*
!site/plugins/baukasten-blocks-preview/
!site/plugins/baukasten-field-methods/
!site/plugins/baukasten-programmable-blueprints/
!site/plugins/baukasten-mime/
