:root {
	--color-gray-900: #182d31;
	--color-background: #f3f3f4;
}

.k-tabs {
	background-color: var(--color-gray-300);
}

.k-header::before {
	float: right;
	content: "";
	margin-top: 10px;
	width: 150px;
	height: 35px;
	background-image: url("../img/baukasten-logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	clear: right;
}

.k-items[data-layout="cards"] .k-item-figure .k-item-icon {
	--size: 64px;
}

.k-items[data-layout="cardlets"] .k-item-figure .k-item-icon {
	--size: 48px;
}

/* Add your own custom css here */
.k-login-view form::before {
	content: url("../img/baukasten-logo.svg");
}

.k-login-fields {
	margin-top: 2rem;
}
